<HTML> 
<HEAD> 
<TITLE>Editor</TITLE> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <link href="/static/stylesheets/viewer.css" media="screen" rel="stylesheet" type="text/css" />

<script type="text/javascript">
var padid = "<%= padid %>";
  var socket = io.connect();
  socket.on('connls', function (data) {
    if(data.status == 'ok'){
    //So, No errors here. Let's verify.

    }else{
    console.log('Error');
    }
  });
  socket.on('databuffer', function(data){

  if(data.ident == padid){

    $("body").html(data.data);
    $('[contenteditable]').removeAttr('contenteditable');

    }
    
  });
  
  
</script>
</HEAD> 
<body> 
 
</body> 
 
</HTML>
